<!DOCTYPE html>
<html>
    <head>
        <title>Admin Page</title>
    </head>
    <body>
        <table>
            <thead>
            <tr>
                <th>UserName</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Player Name</th>
                <th>Level</th>
                <th>Progress</th>
            </tr>
            </thead>
            <% for(var i = 0; i < users.length; i++) { %>
            <tr>
                <td><a href = "/admin/<%= users[i]._id %>/password"><%=users[i].username%></a></td>
                <td><%=users[i].first%></td>
                <td><%=users[i].last%></td>
                <%if(typeof users[i].player === "undefined") { %>
                    <td colspan = "3">No player data!</td>
                <%} else {%>
                    <td><a href = "/admin/<%= users[i]._id %>"><%=users[i].player.name%></a></td>
                    <td><%=users[i].player.level%></td>
                    <%var progress = 0; var message = "No progress"%>
                    <%if(users[i].player.flags[0]) {progress = 1; message = "Defeated Earth Elemental"}%>
                    <%if(users[i].player.flags[4]) {progress = 2; message = "Fixed First Bridge"}%>
                    <%if(users[i].player.flags[1]) {progress = 3; message = "Defeated Mystic Dragon"}%>
                    <%if(users[i].player.flags[5]) {progress = 4; message = "Fixed Second Bridge"}%>
                    <%if(users[i].player.flags[2]) {progress = 5; message = "Defeated Sea Serpent"}%>
                    <%if(users[i].player.flags[6]) {progress = 6; message = "Fixed Third Bridge"}%>
                    <%if(users[i].player.flags[3]) {progress = 7; message = "Defeated Demon King"}%>
                    <%if(users[i].player.flags[7]) {progress = 8; message = "Fixed Fourth Bridge"}%>
                    <%var proString = "";%>
                    <%for(var j = 0; j < 10; j++) { if(j < progress) proString += "*"; else proString += "-"} %>
                    <td><%=proString + " " + message%></td>
                <% } %>
            </tr>
            <%}%>
        </table>
        <h2>Activation Keys</h2>
        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Used?</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < keys.length; i++) { %>
                <tr>
                    <td><%=keys[i].key%></td>
                    <td><%=keys[i].first%></td>
                    <td><%=keys[i].last%></td>
                    <td><%=keys[i].used%></td>
                    <form method = "POST" action = "/admin/deleteKey/<%=keys[i].key%>">
                        <td><input type = "submit" value = "Remove"></td>
                    </form>
                </tr>
                <%}%>
                <tr>
                    <form method = "POST" action = "/admin">
                        <td></td>
                        <td><input type = "text" name = "first" placeholder = "first"></td>
                        <td><input type = "text" name = "last" placeholder = "last"></td>
                        <td></td>
                        <td><input type = "submit" value = "Add"></td>
                    </form>
                </tr>
            </tbody>
        </table>
    </body>
</html>